services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: [DB 데이터베이스 이름]
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  server:
    image: ghcr.io/[github 아이디]/[server repo 이미지 이름]:latest
    container_name: server
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      FLYWAY_URL: ${FLYWAY_URL}
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy

  client:
    image: ghcr.io/[github 아이디]/[client repo 이미지 이름]:latest
    container_name: client
    ports:
      - "80:80"
    depends_on:
      - server
